<h1>Marcador del Juego: </h1>


<h1> Score Actual: <%=@score%></h1>
<form method="post" action="/Jugador1Anota">
    <input type="submit" value="Jugador 1 Anota">
</form>

<form method="post" action="/Jugador2Anota">
    <input type="submit" value="Jugador 2 Anota">
</form>
